


<div class="wrapper">

    <h1>{{ name }}</h1>

    <div class="filter-wrapper">
        
        <div class="filter">
            <input 
                id="showAll" 
                name="filterBox" 
                type="checkbox" 
                (click)="showAll()">
            <label for="showAll">Show All</label> <br>
            <!-- <input 
                id="reset" 
                name="filterBox" 
                type="checkbox">
            <label for="reset">Reset</label> -->

            <hr>

            <h3>Brands</h3>

            <div>
                <input 
                    id="Adidas" 
                    name="filterBox" type="checkbox" 
                    value="Adidas" 
                    (click)="checkAdidas($event)">
                <label for="Adidas">Adidas</label>
            </div>
            <div>
                <input 
                    id="Airmax" 
                    name="filterBox" 
                    type="checkbox" 
                    value="Airmax" 
                    (click)="checkAirmax($event)">
                <label for="Airmax">Airmax</label>
            </div>
            <div>
                <input 
                    id="Jordan" 
                    name="filterBox" 
                    type="checkbox" 
                    value="Jordan" 
                    (click)="checkJordan($event)">
                <label for="Jordan">Jordan</label>
            </div>
            <div>
                <input 
                    id="Nike" 
                    name="filterBox" 
                    type="checkbox" 
                    value="Nike" 
                    (click)="checkNike($event)">
                <label for="Nike">Nike</label>
            </div>
            <div>
                <input 
                    id="Timberland" 
                    name="filterBox" 
                    type="checkbox" 
                    value="Timberland" 
                    (click)="checkTimbs($event)">
                <label for="Timberland">Timberland</label>
            </div>
        
            <hr>

            <h3>Prices</h3>

            <div>
                <input 
                    id="Male" 
                    name="filterBox" 
                    type="checkbox"
                    value="Women's Shoe">
                <label for="Male">Male</label>
            </div>
            <div>
                <input 
                    id="Female" 
                    name="filterBox" 
                    type="checkbox"
                    value="Women's Shoe">
                <label for="Female">Female</label>
            </div>



            <hr>


            <div>
                <button class="clear" (click)="clearBrand()">Reset</button>
                <button class="apply" (click)="applyFilter()">Apply</button>
            </div>
        </div>

        <!-- <ul>
            <li *ngFor="let gear of brands">{{ gear }}</li>
        </ul> -->
        <!-- <p>{{ airmaxResult }}</p> -->

        

        <div class="product-list">
            <app-product
                class="list-item" 
                *ngFor="let piece of list|filter: brands:propBrand|secondFilter: '':'gen' "
                [selectedProduct]="piece"  
                [selectedInfo]="page">
            </app-product>
        </div>

    </div>
</div>